.top-nav {
    background-color: #41cddf;
    overflow: hidden;
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: 20px;
  }
  
  .top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Align links horizontally */
  }
  
  .top-nav li {
    margin-right: 20px; /* Add some spacing between links */
  }
  
  .top-nav li:last-child {
    margin-right: 0; /* Remove spacing from last link */
  }
  
  .top-nav li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .top-nav li a:hover {
    background-color: #ddd;
  }